.each-slide {
    transform: scale(1);
}

.slide-arrow {
    font-size: 200%;
}

#pets-message {
    position: absolute;
    top: 25%;
    left: 64%;
    width: 25%;
    background-color: rgba(220, 220, 220, 0.0);
    line-height: 1.1;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
    border-color: rgba(210, 210, 210, 0.01);
    border-width: medium;
    border-style: double;
    color: white;
}

#pets-message:hover {
    .slide-arrow {
        color: rgb(255, 195, 117);
        transform: translateX(5%);
        transition-duration: 0.5s;
    }
}

#walkers-message {
    position: absolute;
    top: 23%;
    left: 15%;
    width: 25%;
    background-color: rgba(220, 220, 220, 0.0);
    line-height: 1.1;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
    border-color: rgba(210, 210, 210, 0.01);
    border-width: medium;
    border-style: double;
    color: white;
}

#walkers-message:hover {
    .slide-arrow {
        color: rgb(245, 220, 107);
        transform: translateX(5%);
        transition-duration: 0.5s;
    }
}

#boarders-message {
    position: absolute;
    top: 45%;
    left: 64%;
    width: 25%;
    background-color: rgba(220, 220, 220, 0.0);
    line-height: 1.1;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
    border-color: rgba(210, 210, 210, 0.01);
    border-width: medium;
    border-style: double;
    color: white;
}

#boarders-message:hover {
    .slide-arrow {
        color: rgb(158, 245, 102);
        transform: translateX(5%);
        transition-duration: 0.5s;
    }
}

#services-message {
    position: absolute;
    top: 70%;
    left: 15%;
    width: 25%;
    background-color: rgba(220, 220, 220, 0.0);
    line-height: 1.1;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
    border-color: rgba(210, 210, 210, 0.01);
    border-width: medium;
    border-style: double;
    color: white;
}

#services-message:hover {
    .slide-arrow {
        color: rgb(107, 245, 165);
        transform: translateX(5%);
        transition-duration: 0.5s;
    }
}

#meetup-message {
    position: absolute;
    top: 65%;
    left: 60%;
    width: 25%;
    background-color: rgba(220, 220, 220, 0.0);
    line-height: 1.1;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
    border-color: rgba(210, 210, 210, 0.01);
    border-width: medium;
    border-style: double;
    color: white;
}

#meetup-message:hover {
    .slide-arrow {
        color: rgb(107, 213, 245);
        transform: translateX(5%);
        transition-duration: 0.5s;
    }
}

#records-message {
    position: absolute;
    top: 35%;
    left: 12%;
    width: 25%;
    background-color: rgba(220, 220, 220, 0.0);
    line-height: 1.1;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
    border-color: rgba(210, 210, 210, 0.01);
    border-width: medium;
    border-style: double;
    color: white;
}

#records-message:hover {
    .slide-arrow {
        color: rgb(188, 117, 255);
        transform: translateX(5%);
        transition-duration: 0.5s;
    }
}