@import "../../scss/main.scss";

#error-message-login {
  display: none;
  color: theme-color("error");
}

#error-message-signup {
  display: none;
  color: theme-color("error");
}

#logo {
  width: 25%;
}
