button {
    background-color: #343a40;
    fill-opacity: 0.2;
    color: #00a677;
    border-width: 0px;
    transition-duration: 0.4s;
  }
  
  button:hover {
    color: red;
  }
  
  single-button {
    background-color: #343a40;
    fill-opacity: 0.2;
    color: #00a677;
    border-width: 0px;
    transition-duration: 0.4s;
  }
  
  single-button:hover {
    color: green;
  }
  
  #loader {
    display: none;
  }
  
  #result-table {
    display: block;
  }
  