#login-box {
    width: 30vw;
    padding: 7%;
    background-color: rgb(216, 216, 218);
    border-radius: 15px;
    border-style: outset;
    border-width: medium;
    border-color: rgb(230, 230, 230);
}

.login-title {
    font-size: 1.5vw;
    margin-bottom: 1vh;
}

.login-input {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding-top: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.5%;
    border-radius: 10px;
    background-color: white;
    border-style: double;
    border-width: medium;
    border-color: rgb(230, 230, 230);
    width: 75%;
    font-size: 1vw;
}

.login-button-row {
    display : flex;
    align-items : center;
    justify-content: center;
    margin-bottom: 1vh;
}

#login-button {
    width: 5vw;
    margin-top: 1vh;
    margin-right: 1vw;
    background-color: rgb(120, 120, 120);
    color: white;
    border-radius: 5px;
    font-size: 0.75vw;
}

#login-button:hover {
    cursor: pointer;
    background-color: rgb(100, 100, 100);
}

#google-button {
    width: 10vw;
    margin-top: 1vh;
    margin-left: 1vw;
    background-color: rgb(220, 53, 69);
    color: white;
    border-radius: 5px;
    font-size: 0.75vw;
}

#google-button:hover {
    cursor: pointer;
    background-color: rgb(200, 33, 49);
}

#close-button {
    font-size: 0.65vw;
}

#close-button:hover {
    cursor: pointer;
    font-weight: 600;
}