#home-page {
  margin-top: 20vh;
  margin-bottom: 25vh;
}

 .paragraph-pic {
  width: 28vw;
 }

  .logo {
    transform: scale(2);
  }

  .walker-title {
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: rgb(255, 230, 117);
  }

  .boarder-title {
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: rgb(172, 255, 117);
  }

  .paragraph-title {
    font-size: 150%;
    font-weight: 1000;
    border-color: #282c34;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }

  .paragraph {
    line-height: 1.4;
  }

  .home-row {
    margin-top: 3vh;
  }

  #overlay {
    display: block;
  }

  .home-box {
    position: fixed;
    margin-top: 20%;
    margin-left: 33%;
    margin-right: 33%;
    width: 33%;
  }