
  img {
    border-color: gray;
    border-style: solid;
    border-width: 5px;
  }

  .quick-access-box {
    background-color: rgb(250, 250, 252);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-radius: 2px;
  }

  .inner-box {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 10px;
  }

  .inner-box:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
  }

  .news-box:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
  }

  .logo {
    transform: scale(2);
  }

  td {
    background-color: white;
  }

  .walker-title {
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: rgb(255, 230, 117);
  }

  .boarder-title {
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: rgb(172, 255, 117);
  }