
 .paragraph-pic {
  transform: scale(2.75);
 }

  .logo {
    transform: scale(2);
  }

  .walker-title {
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: rgb(255, 230, 117);
  }

  .boarder-title {
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: rgb(172, 255, 117);
  }

  .paragraph-title {
    font-size: 150%;
    font-weight: bolder;
  }

  .paragraph {
    line-height: 1.2;
  }

  // Use to line up home page paragraphs
  // .home-row {
  //   background-color: gray;
  // }