#preview {
    transform: scale(0.5);
}

#record {
    position: relative;
    width: 100px;
    height: 100px;
    transform: scale(1);
    margin-right: 5%;
}

#record:hover {
    width: 500px;
    height: 500px;
    transition-duration: 0.75s;
}

#upload-step1 {
    position: absolute;
    top: 29%;
    left: 40%;
}

#upload-step2 {
    position: absolute;
    top: 60%;
    left: 19%;
}

#upload-step3 {
    position: absolute;
    top: 75%;
    left: 35%;
}

#file-input {
    position: absolute;
    top: 33%;
    left: 33%;
}

#preview {
    margin-top: 1%;
    max-width: 250px;
    max-height: 250px;
    transform: scale(1);
}

#file-upload-button {
    position: absolute;
    top: 60%;
    left: 33%;
}

#record-row {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}