#message-tab {
    position: fixed;
    top: 20%;
    right: 0%;
    width: 20%;
    z-index: 100;
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    font-size: 80%;
}

.friend-pic {
    max-width: 10px;
    max-height: 10px;
    border-radius: 100%;
}