@import "../../scss/main.scss";

#success-message {
  color: theme-color("light");
  display: none;
  border-radius: 25px;
  background: theme-color("primary");
  width: 300px;
  padding: 10px;
}

#space{
  margin-top: 15px;
}

