#pet-form {
  margin-top: 25vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 25vh;
}

.dog-icon {
  transform: scale(1);
  border-radius: 100%;
  width: 6vw;
  margin-right: 5%;
  border-style: hidden;
  background-color: lightgray;
}

.dog-icon:hover {
  transform: scale(1.05);
  transition-duration: 0.33s;
}

#new-dog-profile {
  background-color: rgb(216, 216, 218);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 6%;
  padding-right: 6%;
  margin-left: 33%;
  margin-right: 33%;
  border-radius: 10px;
  border-style: outset;
  border-width: medium;
  border-color: rgb(230, 230, 230);
}

#database-profile {
  background-color: rgb(216, 216, 218);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 6%;
  padding-right: 6%;
  margin-left: 33%;
  margin-right: 33%;
  border-radius: 10px;
  border-style: outset;
  border-width: medium;
  border-color: rgb(230, 230, 230);
}

.dog-pic {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
  transform: scale(1);
}

#add-dog-button {
  transform: scale(0.75);
  border-radius: 100%;
  width: 6vw;
  margin-right: 5%;
  border-style: hidden;
  background-color: lightgray;
}

#add-dog-button:hover {
  transform: scale(0.8);
  transition-duration: 0.33s;
  cursor: pointer;
}

#pet-welcome-arrow {
  transform: translateX(-1%);
}

#pet-welcome {
  border-bottom-color: rgb(255, 195, 117);
  border-bottom-style: solid;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 1%;
}

#open-dog-profile-tip {
  padding-top: 2%;
}

#dog-input {font-size: 75%;}

#database-dog-input {font-size: 75%;}

#dog-breed {font-size: 75%;}

#database-dog-breed {font-size: 75%;}

#delete-dog-popup {
  position: fixed;
  top: 30%;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  margin-left: 40%;
  margin-right: 40%;
  background-color: rgb(140, 140, 140);
  color: black;
  border-radius: 10px;
  font-weight: 600;
}