.nav-bar {
  background-color: #eeeeee;
  height: 20%;
  //min-height: 180px;
  //max-height: 275px;
}

#nav-bar-pic {
  margin-left: 4vw;
  display : flex;
  align-items : center;
  justify-content: center;
}

#profile-pic {
  width: 6vw;
  height: 6vw;
  border-radius: 100%;
  transform: scale(1);
}

#profile-pic:hover {
  opacity:0.6;
}

#profile-dropdown {
  top: 20%;
  left: 1vw;
  padding-top: 1vh;
  padding-left: 3vw;
  padding-bottom: 1%;
  width: 15vw;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #eeeeee;
}

#dropdown-button {
  border-style: hidden;
  border-radius: 10px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  
}

#dropdown-button:hover {
  transform: scale(1.03);
  transition-duration: 0.33s;
  cursor: pointer;
}

#pooch {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 10vw;
  border-bottom-style: hidden;
  display : flex;
  align-items : center;
  justify-content: center;
}

#nav-pages {
  width: 70vw;
  min-width: 410px;
  font-size: 1.2vw;
  display : flex;
  align-items : center;
  justify-content: center;
}

  #your-pets {
    border-bottom-color: rgb(255, 195, 117);
    border-bottom-style: solid;
    margin-left: 3%;
    text-decoration: none;
    //max-width: 10%;
  }

  #dog-walking {
    border-bottom-color: rgb(245, 220, 107);
    border-bottom-style: solid;
    margin-left: 3%;
    text-decoration: none;
    //max-width: 10%;
  }

  #dog-boarding {
    border-bottom-color: rgb(158, 245, 102);
    border-bottom-style: solid;
    margin-left: 3%;
    text-decoration: none;
    //max-width: 10%;
  }

  #dog-services {
    border-bottom-color: rgb(107, 245, 165);
    border-bottom-style: solid;
    margin-left: 3%;
    text-decoration: none;
    //max-width: 10%;
  }

  #dog-meetup {
    border-bottom-color: rgb(107, 213, 245);
    border-bottom-style: solid;
    margin-left: 3%;
    text-decoration: none;
    //max-width: 10%;
  }

  #dog-records {
    border-bottom-color: rgb(188, 117, 255);
    border-bottom-style: solid;
    margin-left: 3%;
    text-decoration: none;
    //max-width: 10%;
  }

  a {
    transform: scale(0.97);
  }

  a:hover {
    transform: scale(1);
    transition-duration: 0.33s;
  }