  img {
    width: 85px;
    height: 85px;
    transform: scale(1);
    border-radius: 50px;
  }

  img:hover {
    background-color:#000;
    opacity:0.5;
}

  button:hover {
    background-color: lightgray;

  }

  a:hover {
    transform: scale(1);
    transition-duration: 0.5s;
  }

  a {
    transform: scale(0.95);
    border-bottom-style: solid;
    border-bottom-width: 5;
    font-weight: 500;
  }

  .navbar-brand {
    border-bottom-style: hidden;
  }

  .your-pets {
    border-bottom-color: rgb(255, 195, 117);
  }

  .dog-walking {
    border-bottom-color: rgb(255, 230, 117);
  }

  .dog-boarding {
    border-bottom-color: rgb(172, 255, 117);
  }

  .dog-services {
    border-bottom-color: rgb(117, 255, 175);
  }

  .dog-meetup {
    border-bottom-color: rgb(117, 223, 255);
  }

  .dog-records {
    border-bottom-color: rgb(188, 117, 255);
  }