.navbar {
  background-color: #eeeeee;
  height: 20%;
}

#profile-pic {
    width: 10%;
    max-width: 175px;
    transform: scale(0.6);
    border-radius: 50%;
  }

  #profile-pic:hover {
    opacity:0.6;
}

#profile-dropdown {
  position: fixed;
  top: 20%;
  left: 1%;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  max-width: 100px;
  min-width: 100px;
}

#dropdown-row:hover {
  transform: scale(1.03);
}

#dropdown-button {
  background-color: #eeeeee;
  border-style: hidden;
  border-radius: 10px;
}

#dropdown-item:hover {
  transform: scale(1.02);
  font-weight: 600;
  transition-duration: 0.1s;
}

#brand {
  width: 10%;
}

  .navbar-brand {
    border-bottom-style: hidden;
  }

  .your-pets {
    border-bottom-color: rgb(255, 195, 117);
    border-bottom-style: solid;
    margin-left: 10%;
  }

  .dog-walking {
    border-bottom-color: rgb(245, 220, 107);
    border-bottom-style: solid;
    margin-left: 10%;
  }

  .dog-boarding {
    border-bottom-color: rgb(158, 245, 102);
    border-bottom-style: solid;
    margin-left: 10%;
  }

  .dog-services {
    border-bottom-color: rgb(107, 245, 165);
    border-bottom-style: solid;
    margin-left: 10%;
  }

  .dog-meetup {
    border-bottom-color: rgb(107, 213, 245);
    border-bottom-style: solid;
    margin-left: 10%;
  }

  .dog-records {
    border-bottom-color: rgb(188, 117, 255);
    border-bottom-style: solid;
    margin-left: 10%;
  }

  a {
    transform: scale(0.97);
  }

  a:hover {
    transform: scale(1);
    transition-duration: 0.33s;
  }