#walking-form {
  margin-top: 25vh;
  margin-bottom: 25vh;
}

.walker-box {
  background-color: rgb(216, 216, 218);
  padding-top: 3%;
  padding-bottom: 1%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  border-radius: 25px;
  width: 325px;
  border-style: outset;
  border-width: medium;
  border-color: rgb(230, 230, 230);
  font-size: 100%;
}

.walker-box:hover {
  background-color: rgb(200, 200, 200);
  transform: scale(1.10);
  transition-duration: 0.5s;
}

.box-pic {
  width: 50%;
  border-radius: 100%;
  transform: scale(1);
  border-style: solid;
  border-width: thin;
  border-color: rgb(200, 200, 200);
}

.box-rating {
  font-size: 115%;
}

.box-row {
  background-color: white;
  padding-top: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 0.5%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  border-radius: 10px;
  width: 100%;
  font-weight: 500;
  font-size: 90%;
  border-style: double;
  border-width: medium;
  border-color: rgb(230, 230, 230);
}

.search-bar {
  //margin-bottom: 2%;
  margin-left: 20%;
  padding-left: 1%;
  width: 50%;
  border-radius: 10px;
  border-style: outset;
  border-width: medium;
  border-color: rgb(230, 230, 230);
  font-size: 1.5vw;
}

.search-dropdown {
  width: 8%;
  height: 75%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin-left: 2%;
  margin-right: 20%;
  border-radius: 10px;
  border-style: outset;
  border-width: medium;
  border-color: rgb(230, 230, 230);
  font-size: 1.5vw;
}

#walker-popup {
  z-index: 100;
  position: fixed;
  top: 21%;
  left: 15%;
  right: 15%;
  width: 70%;
  height: 70%;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  background-color: rgb(200, 200, 200);
  color: black;
  border-radius: 10px;
  border-style: outset;
  border-width: medium;
  border-color: rgb(210, 210, 210);
}

#popup-walker-rating {
  margin-top: 20%;
  height: 20%;
  width: 80%;
  margin-bottom: 20%;
  transform: scale(1.5);
  border-radius: 10px;
  font-size: 1.5vw;
}

.popup-input {
  background-color: white;
  width: 90%;
  border-radius: 10px;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  font-size: 100%;
  font-weight: 500;
  border-style: double;
  border-width: medium;
  border-color: rgb(230, 230, 230);
  font-size: 1.5vw;
}

.popup-feature {
  transform: scale(1);
   width: 20vh;
  border-radius: 15px;
  margin-top: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-bottom: 1vh;
}

#new-review {
  width: 100%;
  border-style: double;
  border-width: medium;
  border-color: rgb(230, 230, 230);
  font-size: 1.5vw;
}

#submit-review {
  background-color: rgb(65, 65, 65);
  color: white;
  font-size: 0.75vw;
}

#walker-popup {
  overflow: auto;
}

.review-body {
  background-color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 0.5%;
  border-style: inset;
}

.full-stars:hover {
  transform: rotate(360deg);
  transition-duration: 2s;
}

.empty-stars {
  font-size: 159%;
}

.popup-error {
  position: fixed;
  z-index: 101;
  top: 37.5%;
  left: 37.5%;
  width: 25%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  background-color: rgb(140, 140, 140);
  color: white;
  border-radius: 10px;
  font-size: 130%;
  font-weight: 500;
  line-height: 120%;
}

.error-button {
  border-radius: 10px;
  border-style: hidden;
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 2%;
  color: white;
  transform: scale(0.75);
}

.popup-new-rating {
  font-size: 2vw;
}

.user-review {
  font-size: 1.5vw;
}

#close-popup-button {
  width: 2vw;
  height: 2vw;
  border-radius: .1vw;
}

#close-popup-button:hover {
  cursor: pointer;
 }

 #bubble-home {
   margin-left: 5vw;
   margin-right: 5vw;
 }