@import "../../scss/main.scss";

#success-message {
  color: theme-color("light");
  display: none;
  border-radius: 30px;
  background: theme-color("primary");
  padding: 10px;
}

#space{
  margin-top: 15px;
}

#walker-box {
  background-color: rgb(216, 216, 218);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
}