.signup {
    background-color: #eeeeee;
    border-radius: 40px;
    border-width: 1px;
}

.signup:hover {
    background-color: rgb(216, 216, 218);
    transition-duration: 0.5s;
}

.profile-box {
    background-color: rgb(216, 216, 218);
    border-radius: 5px;
}

#edit-profile-pic-input {
    width: 15%;
    font-size: 50%;
}

#edit-profile-pic-input:hover {
    background-color: rgb(216, 216, 218);
    transition-duration: 0.5s;
}

#edit-profile-pic-button {
    width: 7;
    font-size: 50%;
}

#edit-profile-pic-button:hover {
    background-color: rgb(216, 216, 218);
    transition-duration: 0.5s;
}

#parent-bio {
    color: rgb(100, 100, 100);
    font-size: 75%;
}

#walker-bio {
    color: rgb(100, 100, 100);
    font-size: 75%;
}

#boarder-bio {
    color: rgb(100, 100, 100);
    font-size: 75%;
}

#tooltip {
    font-size: 50%;
}

.profile-pic {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    border-radius: 75px;
    transform: scale(1);
  }

#profile-page2 {
    background-color: rgb(216, 216, 218);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
}

#profile-page4 {
    background-color: rgb(216, 216, 218);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
}

#profile-page5 {
    background-color: rgb(216, 216, 218);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
}

#parent-profile {
    background-color: rgb(216, 216, 218);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
}

#walker-profile {
    background-color: rgb(216, 216, 218);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
}

#boarder-profile {
    background-color: rgb(216, 216, 218);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
}

#profile-error {
    color: red;
}

#username {
    background-color: rgb(216, 216, 218);
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
}

#delete-popup {
    position: fixed;
    top: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 40%;
    margin-right: 40%;
    background-color: rgb(140, 140, 140);
    border-radius: 10px;
    font-weight: 600;
}

.popup-button {
    border-radius: 10px;
}

#loader {
    display: block;
}