Footer {
    background-color: white;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
  }

.footer-element:hover {
    font-weight: 550;
    transform: scale(1.02);
    transition-duration: 0.25s;
}